* {
  box-sizing: border-box;
}

.calculator-container {
  width: 503px;
  height: 775px;
  margin: 40px auto 0;
  border: 1px solid blue;
}

.display {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.calculation {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
  gap: 5px;
  padding-right: 20px;
}

#result {
  padding-right: 20px;
  font-size: 30px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
}

.function-items {
  height: 125px;
  display: flex;
  
}

.number-grid {
  width: 375px;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.operator-items {
  height: 500px;
}

.function,
.number,
.equal,
.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  width: 125px;
  height: 125px;
}

#equal {
  flex: 1;
}

.number-grid :nth-child(10) {
  order: 1;
}
